@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div class="jumbotron">
  <h1 class="display-4">Gerenciamento de Tarefas em C# Core</h1>
  <p class="lead">Este é um código CRUD em C# Core que eu REAPRENDI usando o Macoratti porque não lembrava mais de</p>
  <hr class="my-4">
  <p>É feito em Core 2.0 mas usando um VS Code o 3.0 e o VS Code 1.46 durante a PANDEMIA DO INFERNO.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" target="" href="../Home/xxx" role="button">Manual que eu fiz de CORE e de VS CODE</a>
  </p>
</div>